.onePage__logo--margin {
  margin-left: 14vh;
  --xyz-opacity: 0.5;
}
.onePage__gradient--marginOne {
  margin-left: -2vh;
  margin-top: 9vh;
  position: absolute;
  transition: ease-out;
  transition-duration: 10s;
  /* opacity: 1; */
}

.onePage__gradient--marginTwo {
  margin-left: 100vh;
  margin-top: 0vh;
  position: absolute;
}

.onePage__gradient--marginThree {
  margin-left: 20vh;
  margin-top: 40vh;
  position: absolute;
}

.onePage__gradient--marginFour {
  margin-left: 130vh;
  margin-top: 65vh;
  position: absolute;
}

.onePage__gradient--sizeTwentyseven {
  width: 27vh;
  height: 27vh;
}

.onePage__Header--spacing {
  margin-left: 5vh;
}

.onePage__gradient--color {
  background: radial-gradient(
    circle farthest-side at center center,
    #0c2536,
    #060622
  );
  margin-left: 10vh;
  margin-top: 55vh;
  width: 50vh;
  height: 50vh;
}

/* Colores gradiente
    #111e2c,
    #0a0b15,
    #000 */

.onePage__separator--color {
  background: linear-gradient(90deg, #214fb3, #0fb4df, #01feff);
}

.twoPage__container--display {
  height: 16vh;
  margin-top: 15vh;
}

.threePage__gradientMini--color {
  margin-left: 130vh;
  margin-top: -45vh;
  position: absolute;
  width: 60vh;
  height: 60vh;
  z-index: -1;
}

.threePage__gradient--color {
  margin-left: 155vh;
  margin-top: -32vh;
  width: 45vh;
  height: 45vh;
  z-index: +1;
}

.fourPage__containerListPoint--margin {
  margin-top: -3.7vh;
  margin-left: 5vh;
  width: 110vh;
}

.fourPage__flatmesh--size {
  width: 110vh;
  height: 110vh;
}

.fivePage__contenedorH1--marginTop {
  margin-top: -96.5vh;
  margin-left: 64vh;
}

.fivePage__contenedorH2--marginTop {
  margin-top: 5vh;
  margin-left: 116.7vh;
}

.fivePage__containerListPointP--rightOne {
  right: 75.2vh;
  width: 74vh;
}

.fivePage__containerListPointP--rightTwo {
  right: 78.7vh;
  width: 77vh;
}

.fivePage__containerListPointP--rightThree {
  right: 100.3vh;
  width: 99vh;
}

.fivePage__containerListPointP--rightFour {
  right: 62.6vh;
  width: 61vh;
}

.fivePage__containerListPointP--rightFive {
  right: 59.9vh;
  width: 58.3vh;
}

.fivePage__containerListPointP--rightSix {
  right: 93.8vh;
  width: 92vh;
}

.sixPage__containerListPoint--margin {
  margin-top: -3.7vh;
  margin-left: 5vh;
  width: 115vh;
}

.sixPage__separator--color {
  background: linear-gradient(
    90deg,
    #04f3bc,
    #04e4cc,
    #30d4d4,
    #04b0fc,
    #0998fc,
    #1074fc,
    #145cfc,
    #3744fc
  );
  margin-top: 61vh;
}

.sevenPageContainer__subTitle--top {
  margin-top: 5vh;
  margin-bottom: 15vh;
}

.eightPageContainer__subTitle--top {
  margin-top: 5vh;
  /* margin-bottom: 15vh; */
}

.eightPageContainer__gradient--ubication {
  margin-left: 18vh;
  margin-top: -35vh;
}

.eightPageContainer__gradient--ubicationTwo {
  margin-left: 85vh;
  margin-top: -40vh;
}

.eightPage__separator--color {
  background: linear-gradient(
    90deg,
    #3744fc,
    #145cfc,
    #1074fc,
    #0998fc,
    #04b0fc,
    #30d4d4,
    #04e4cc,
    #04f3bc
  );
  margin-top: -11vh;
  z-index: +2;
}

.ninePageContainer__right--bottom {
  margin-bottom: 5vh;
}

.ninePageContainer__gradient--ubication {
  margin-left: 0vh;
  margin-top: -20vh;
}

.tenPageContainer__left--top {
  margin-top: 5vh;
}

.tenPageContainer__gradient--ubication {
  margin-left: 140vh;
  margin-top: -40vh;
}

.elevenPageContainer__left--top {
  margin-top: 5vh;
}

.elevenPageContainer__gradient--ubication {
  margin-top: -30vh;
  margin-right: 10vh;
}

.twelvePageContainer__right--bottom {
  margin-bottom: 5vh;
}

.twelvePageContainerSeparator--color {
  background: linear-gradient(
    90deg,
    #3744fc,
    #145cfc,
    #1074fc,
    #0998fc,
    #04b0fc,
    #30d4d4,
    #04e4cc,
    #04f3bc
  );
  margin-top: 6vh;
}
