@font-face {
  font-family: "Acumin Variable Concept";
  src: url("./../../fonts/Acumin/Acumin\ Variable\ Concept.ttf")
    format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #060622;
  font-family: "Acumin Variable Concept";
}

#root {
  justify-content: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
