/* Clases solas reutilizadas */
.background {
  background-color: antiquewhite;
}
.widhtHundred {
  width: 100vh;
}
.textColorWhite {
  color: white;
}

.textColorCian {
  color: #1ae6ee;
}

.fontSizeTwo {
  font-size: 2vh;
}

.fontSizeTwoEight {
  font-size: 2.7vh;
}

.fontSizeFour {
  font-size: 4vh;
}

.fontSizeFive {
  font-size: 5vh;
}

.fontSizeSix {
  font-size: 6vh;
}

.fontSizeSeven {
  font-size: 7vh;
}

.fontSizeEight {
  font-size: 8vh;
}

.fontSizeTen {
  font-size: 10vh;
}

.fontWeightLighter {
  font-weight: lighter;
}

.fontWeightBold {
  font-weight: bold;
}

.marginTopTwo {
  margin-top: 2vh;
}

/* Fin clases solas */
.principal {
  min-width: 100%;
  min-height: 100vh;
}

.onePage__logo {
  width: 40vh;
  margin-left: 15vh;
  margin-top: 3vh;
}

.onePage__gradient {
  width: 40vh;
  height: 40vh;
  margin: 2em auto;
  background: radial-gradient(
    circle farthest-side at center center,
    #0d354e,
    #060622
  );
  border-radius: 100%;
  z-index: -1;
}

.onePage__txtSi {
  font-weight: bold;
  margin-left: 15vh;
  margin-top: 15vh;
  width: 115vh;
  z-index: +1;
}

.onePage__mesh {
  width: 80vh;
  height: 80vh;
  margin-left: 123vh;
  position: absolute;
  top: -7vh;
  object-position: 20vh; /*recorta la margen*/
}

.onePage__separator {
  width: 100%;
  height: 5vh;
}

.twoPage__container {
  width: 84.2vh;
  height: 25vh;
  margin-top: 20vh;
  margin-left: 80vh;
}

.twoPage__flower {
  width: 80vh;
  height: 80vh;
  position: absolute;
  top: 150vh;
  left: -15vh;
  z-index: +1;
}

.twoPage__GradientFlower {
  width: 80vh;
  height: 80vh;
  position: relative;
  top: -40vh;
  z-index: -1;
  left: -5vh;
}

.threePage__container {
  margin-top: -50vh;
}

.threePage__containerTitleNe {
  margin-left: 15vh;
  z-index: +1;
}

.threePage__containerTextSo {
  margin-top: 10vh;
  margin-left: 15vh;
  padding-right: 55vh;
}

.threePage__containerTextNu {
  margin-top: 1vh;
  margin-left: 15vh;
  padding-right: 5vh;
  width: 130vh;
}

.threePage__balls {
  width: 45vh;
  left: 150vh;
  margin-top: -65vh;
  z-index: 1;
  position: absolute;
}

.threePage__gradient {
  margin: 2em auto;
  background: radial-gradient(
    circle farthest-side at center center,
    #0d354e,
    #0d1e3a,
    #060622
  );
  border-radius: 100%;
  z-index: -1;
}

.fourPage__container {
  height: 25vh;
  margin-top: -115vh;
  width: 100vh;
}

.fourPage__containerTituloPo {
  margin-left: 15vh;
  margin-top: 150vh;
  width: 150vh;
}

.fourPage__containerParagraph {
  margin-top: 0vh;
  margin-left: 18.5vh;
}

.fourPage__containerList {
  margin-left: 22vh;
  margin-top: 5vh;
  z-index: +1;
  position: absolute;
}

.fourPage__containerListPoint {
  height: 4vh;
  width: 4vh;
}

.fourPage__flatmesh {
  margin-top: 40vh;
  margin-left: 10vh;
  width: 145vh;
  height: 143vh;
  z-index: -1;
}

.fivePage__contenedorH1 {
  height: 9vh;
  width: 105vh;
}

.fivePage__contenedorH2 {
  height: 18vh;
  width: 50vh;
  text-align: right;
}

.fivePage__containerList {
  margin-left: 162.5vh;
  margin-top: 5vh;
  z-index: 1;
  position: absolute;
  width: 4vh;
}

.fivePage__containerListPoint {
  height: 4vh;
  width: 4vh;
}

.fivePage__containerListPointP {
  margin-top: -3.8vh;
  position: relative;
}

.sixPage__containerList {
  height: 32vh;
  margin-top: 65vh;
  margin-left: 22vh;
  width: 5vh;
  z-index: 1;
}

.sixPage__containerListPoint {
  height: 4vh;
  width: 4vh;
}

.sixPage__containerListPointP {
  margin-top: 40vh;
  position: relative;
}

.sixPage__base {
  width: 50vh;
  height: 50vh;
  margin-left: 54vh;
  margin-top: -13vh;
}

.sixPage__separator {
  width: 100%;
  height: 5vh;
}

.seven__container {
  height: 32vh;
  margin-top: 65vh;
  margin-left: 22vh;
  width: 5vh;
}
