/*#060622*/
.navBar {
  position: relative;
  background: transparent;
}

.navBar button {
  margin-left: 370px;
  margin-top: -90px;
  position: absolute;
  z-index: +10;
  background-color: #060622;
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  margin-top: 35px;
  background: rgba(6, 6, 34, 0.5);
  /* background: #3fffd2; */
  height: 190px;
  width: 0;
  overflow: hidden;
  z-index: +9;
  text-align: center;
}

.menuNav.showMenu {
  width: 100%;
}

a {
  display: block;
  text-decoration: none;
  color: #3fffd2;
  font-weight: bold;
}

.menuNav li:first-child {
  margin-top: 5px;
}
