/* base */
/* @font-face {
  font-family: "Acumin Variable Concept";
  src: url("./../../fonts/Acumin/Acumin\ Variable\ Concept.ttf")
    format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #060622;
  font-family: "Acumin Variable Concept";
}

#root {
  justify-content: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
} */

/*modules*/

.bars {
  color: white;
}
.textAlignCenter {
  text-align: center;
}

/*Layouts*/
.flexDirectionRow {
  flex-direction: row;
}

.displayInlineFlex {
  display: inline-flex;
}

.displayFlexEnd {
  display: flex;
  justify-content: flex-end;
}

/*Fin Layouts*/

/* Clases solas reutilizadas */
.background {
  background-color: antiquewhite;
}
.widhtHundred {
  width: 100px;
}
.textColorWhite {
  color: white;
}

.textColorCian {
  color: #1ae6ee;
}
.fontSizeOneFive {
  font-size: 1.5vh;
}

.fontSizeTwo {
  font-size: 2vh;
}

.fontSizeTwoFive {
  font-size: 2.5vh;
}

.fontSizeTwoSeven {
  font-size: 2.7vh;
}

.fontSizeThree {
  font-size: 3vh;
}

.fontSizeFour {
  font-size: 4vh;
}

.fontSizeFive {
  font-size: 5vh;
}

.fontSizeSix {
  font-size: 6vh;
}

.fontSizeSeven {
  font-size: 7vh;
}

.fontSizeEight {
  font-size: 8vh;
}

.fontSizeTen {
  font-size: 10vh;
}

.fontWeightLighter {
  font-weight: lighter;
}

.fontWeightBold {
  font-weight: bold;
}

.marginTopTwo {
  margin-top: 2%;
}
/* Fin clases solas */

/*Principales*/
.principalMobile {
  /*no borrar*/
  width: 100%;
}

.onePage__logoMobile {
  width: 250px;
  margin-top: 5%;
  display: block;
  margin: auto;
}

.onePage__HeaderMobileOne {
  margin: 5px;
  width: 190px;
  display: inline-flex;
}

.onePage__HeaderMobileTwo {
  margin: 7px;
  width: 190px;
  display: inline-flex;
}

.onePage__separatorMobileOne {
  width: 100%;
  height: 5px;
}

.onePage__separatorMobileTwo {
  width: 100%;
  height: 5px;
}

.onePage__separatorMobileThree {
  width: 100%;
  height: 1vh;
  margin-top: 0%;
}

.onePage__txtSiMobile {
  font-weight: bold;
  display: block;
  margin: auto;
  margin-top: 5%;
  width: 75%;
  z-index: +1;
}

.onePage__meshMobile {
  width: 70%;
  margin-top: 15%;
  margin-left: 50px;
  /*recorta la margen*/
}

.twoPageMobileContainer {
  margin-top: 5px;
  text-align: center;
}

.twoPageMobileContainer__text {
  font-weight: bold;
  margin-top: 10%;
}

.twoPageMobile__flower {
  width: 200px;
  height: 250px;
  margin-left: -30px;
}

.threePageContainerMobile {
  margin-top: 50px;
}

.threePageContainerMobile__TitleNe {
  margin-left: 30px;
}

.threePageContainerMobile__TextSo {
  margin-top: 10px;
  margin-left: 30px;
}

.threePageContainerMobile__TextNu {
  margin-top: 10px;
  margin-left: 30px;
}

.fourPageContainerMobile {
  margin-top: 20px;
  width: 365px;
}

.fourPageContainerMobile__TituloPo {
  margin-left: 30px;
  margin-top: 100px;
  width: 300px;
}

.fourPageContainerMobile__Paragraph {
  margin-top: 20px;
  margin-left: 30px;
}

.fourPageContainerMobile__ListPoint {
  margin-left: 30px;
  margin-top: 5px;
  z-index: +1;
  width: 35px;
  height: 30px;
}

.fourPageMobile__flatmesh {
  margin-top: -5%;
  margin-left: -5px;
  width: 370px;
  z-index: -1;
}

.fivePageMobile {
  margin-top: 80%;
}

.fivePageMobileContainer__H1 {
  width: 300px;
  z-index: +1;
  position: relative;
}

.fivePageMobileContainer__H2 {
  width: 300px;
  text-align: right;
}

.fivePageMobileContainer__List {
  margin-left: 358px;
  margin-top: 5px;
  z-index: 1;
  width: 4px;
}

.fivePageMobileContainer__ListPoint {
  height: 30px;
  width: 35px;
}

.fivePageMobileContainer__ListPointP {
  margin-top: -33px;
}

.sixPageMobileContainerList {
  margin-top: 20%;
}

.sixPageMobileContainerList__Point {
  height: 30px;
  width: 35px;
}

.sixPageMobile__base {
  width: 50px;
}

.sixPageMobile__separator {
  width: 100%;
  height: 20px;
}

.sevenPageMobileContainer {
  margin-top: 10%;
}

.sevenPageMobileContainer__title {
  margin-top: 15%;
  margin-left: 15px;
  z-index: +1;
}

.sevenPageMobileContainer_veticalmesh {
  margin-top: -39%;
  z-index: -1;
  position: absolute;
}

.sevenPageMobileContainer_veticalmeshSize {
  height: 1200px;
  width: 200px;
  margin-left: 210px;
}

.sevenPageMobileContainer__subTitle {
  margin-top: 15%;
  margin-left: 15px;
}

.sevenPage__separator {
  width: 100%;
  height: 20px;
}

.eightPageMobileContainer {
  margin-top: 15%;
}

.eightPageMobileContainer__title {
  margin-left: 15px;
}

.eightPageMobileContainer__titleTwo {
  margin-top: 5%;
  margin-left: 15px;
}

.eightPageMobileContainer__gradientBox {
  width: 390px;
  height: 50px;
  border-width: 2px;
  border-style: solid;
  margin-top: 5%;
  border-image: linear-gradient(
      to right,
      #04f3bc,
      #04e4cc,
      #30d4d4,
      #04b0fc,
      #0998fc,
      #1074fc,
      #145cfc,
      #3744fc
    )
    1;
}

.eightPageMobileContainer__text {
  text-align: center;
  margin-top: 3px;
}

.eightPageMobileContainer__imageRings {
  width: 150px;
  height: 150px;
  margin-top: 15%;
  margin-left: 15px;
  z-index: +1;
}

.eightPageMobileContainer__imageParticle {
  width: 150px;
  height: 150px;
  margin-top: 15%;
  margin-left: 40px;
  z-index: +2;
}

.eightPageMobileContainer__gradient {
  width: 150px;
  height: 150px;
  margin: 2em auto;
  background: radial-gradient(
    circle farthest-side at center center,
    #0d354e,
    #060622
  );
  border-radius: 100%;
  z-index: -1;
}

.eightPageMobile__separator {
  width: 100%;
  height: 20px;
}

.ninePageMobileContainer {
  margin-top: 10%;
}

.ninePageMobileContainer__central {
  /* display: block;
  margin: auto; */
  text-align: center;
}

.ninePageMobileContainer__invertedmesh {
  height: 300px;
  width: 300px;
  margin-left: 50px;
  margin-top: 30px;
}

.ninePageMobileContainer__gradient {
  width: 200px;
  height: 200px;
  margin: 2em auto;
  background: radial-gradient(
    circle farthest-side at center center,
    #0d354e,
    #060622
  );
  border-radius: 100%;
  z-index: -1;
}

.tenPageMobileContainer {
  margin-top: 10%;
}

.tenPageMobileContainer__central {
  margin-left: 15px;
}

.tenPageMobileContainer__particle {
  height: 300px;
  width: 300px;
  margin-left: 50px;
  margin-top: 20px;
}

.elevenPageMobileContainer {
  margin-top: 10%;
}

.elevenPageMobileContainer__central {
  margin-left: 15px;
}

.elevenPageMobileContainerFlatmesh {
  margin-left: 10px;
}

.elevenPageMobileContainerFlatmesh__size {
  height: 400px;
  width: 400px;
  margin-top: -5%;
}

.twelvePageMobileContainer {
  margin-top: -30%;
  margin-left: 15px;
}

.twelvePageMobileContainerSeparator {
  width: 100%;
  height: 10px;
}

.thirteenPageMobile__logoFooter {
  width: 100px;
  display: block;
  margin: auto;
}

.thirteenPageMobile__logoLinkedin {
  width: 100px;
  margin-left: 80px;
  margin-top: -5%;
}

.thirteenPageMobile__gmail {
  margin-left: 130px;
  margin-top: 0%;
  margin-bottom: 20px;
}
/*Fin principales*/

/* Modificadores */
.onePage__logoMobile--margin {
  --xyz-opacity: 0.5;
}

.onePage__HeaderMobile--spacing {
  margin-left: 10px;
}

.onePage__separatorMobile--color {
  background: linear-gradient(90deg, #214fb3, #0fb4df, #01feff);
}

.twoPageMobileContainer--display {
  height: 16px;
  margin-top: 35px;
  margin-right: 15px;
}

.fourPageContainerMobile__ListPoint--margin {
  margin-top: -30px;
  margin-left: 70px;
  width: 300px;
}

.fourPageMobile__flatmesh--size {
  width: 370px;
  height: 370px;
}

.fivePageMobileContainer__H1--marginTop {
  margin-top: -45%;
  margin-left: 20px;
}

.fivePageMobileContainer__H2--marginTop {
  margin-top: 20px;
  margin-left: 90px;
}

.fivePageMobileContainer__ListPointP--rightOne {
  margin-left: -320px;
  width: 350px;
}

.fivePageMobileContainer__ListPointP--rightTwo {
  margin-left: -320px;
  width: 350px;
}

.fivePageMobileContainer__ListPointP--rightThree {
  margin-left: -320px;
  width: 350px;
}

.fivePageMobileContainer__ListPointP--rightFour {
  margin-left: -320px;
  width: 350px;
}

.fivePageMobileContainer__ListPointP--rightFive {
  margin-left: -320px;
  width: 350px;
}

.fivePageMobileContainer__ListPointP--rightSix {
  margin-left: -320px;
  width: 350px;
}

.sixPageMobileContainerList__Point--margin {
  margin-top: -33px;
  margin-left: 35px;
  width: 365px;
}

.sixPageMobile__separator--color {
  background: linear-gradient(
    90deg,
    #04f3bc,
    #04e4cc,
    #30d4d4,
    #04b0fc,
    #0998fc,
    #1074fc,
    #145cfc,
    #3744fc
  );
  margin-top: 100%;
}

.sevenPageMobileContainer__subTitle--top {
  margin-top: 10%;
  margin-bottom: -15px;
}

.sevenPageMobile__separator--color {
  background: linear-gradient(
    90deg,
    #04f3bc,
    #04e4cc,
    #30d4d4,
    #04b0fc,
    #0998fc,
    #1074fc,
    #145cfc,
    #3744fc
  );
  margin-top: 8%;
}

.eightPageMobileContainer__subTitle--top {
  margin-top: 15%;
  width: 350px;
  /* margin-bottom: 15vh; */
}

.eightPageMobileContainer__gradient--ubication {
  margin-left: 18px;
  margin-top: -30%;
}

.eightPageMobileContainer__gradient--ubicationTwo {
  margin-left: 200px;
  margin-top: -38%;
}

.eightPageMobile__separator--color {
  background: linear-gradient(
    90deg,
    #04f3bc,
    #04e4cc,
    #30d4d4,
    #04b0fc,
    #0998fc,
    #1074fc,
    #145cfc,
    #3744fc
  );
  margin-top: 8%;
}

.ninePageMobileContainer__central--top {
  margin-top: 5%;
}

.ninePageMobileContainer__gradient--ubication {
  margin-left: 80px;
  margin-top: -140px;
}

.tenPageMobileContainer__central--top {
  margin-top: 20px;
}

.elevenPageMobileContainer__central--top {
  margin-top: 10%;
}

.twelvePageMobileContainer__right--bottom {
  margin-bottom: 10%;
}

.twelvePageMobileContainer__right--top {
  margin-top: 40%;
}

.twelvePageMobileContainer__right--topT {
  margin-top: 10%;
}

.twelvePageMobileContainerSeparator--color {
  background: linear-gradient(
    90deg,
    #3744fc,
    #145cfc,
    #1074fc,
    #0998fc,
    #04b0fc,
    #30d4d4,
    #04e4cc,
    #04f3bc
  );
  margin-top: 10%;
}
